.form-search.form-inline .form-group {
	margin-bottom: 4px;
	margin-right: 20px;
}

.form-search.form-inline .form-group label {
	font-size: 12px;
}

.form-search.form-inline .form-group .form-control {
	border-radius: 3px;
	font-size: 12px;
	height: 30px;
	line-height: 1.5;
	padding: 5px 10px;
}

.box#search-panel {
	display: none;
	margin-bottom: 8px;
}

.table.bootgrid-table td {
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
	word-break: break-all;
}

.skin-blue .pace .pace-activity {
	right: 50%;
}

.ztree li span.button.add {
	margin-left: 2px;
	margin-right: -1px;
	background-position: -144px 0;
	vertical-align: top;
	*vertical-align: middle
}

.kv-upload-progress>.progress {
	margin-bottom: 0
}

.header-datetime {
	width: 140px;
}

.column-datetime {
	font-size: 12px;
}

.required-tip {
	color: red;
}