.form-search.form-inline .form-group {
	margin-bottom: 4px;
	margin-right: 20px;
}

.form-search.form-inline .form-group label {
	font-size: 12px;
}

.form-search.form-inline .form-group .form-control {
	border-radius: 3px;
	font-size: 12px;
	height: 30px;
	line-height: 1.5;
	padding: 5px 10px;
}

#search-panel {
	display: none;
}