<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>登录-Castle</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/assets/vendor/bootstrapvalidator/css/bootstrapValidator.min.css}">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" th:href="@{/assets/css/AdminLTE.min.css}">
<link rel="stylesheet" href="//cdn.bootcss.com/iCheck/1.0.2/skins/square/blue.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a th:href="@{/}">Castle</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">登录管理中心</p>

			<form th:action="@{/login}" action="../../index2.html" method="post">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" name="username" placeholder="手机号码" data-bv-notempty="true" data-bv-notempty-message="请填写手机号码"
						data-bv-regexp="true" data-bv-regexp-regexp="^[1]([3][0-9]{1}|59|58|82|88|89)[0-9]{8}$" data-bv-regexp-message="请填写正确的手机号码">
					<span class="fa fa-phone form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" name="password" placeholder="密码" data-bv-notempty="true" data-bv-notempty-message="请填写密码">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label> <input type="checkbox"> 记住我
							</label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

			<div class="social-auth-links text-center">
				<p>- 或者 -</p>
				<a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
					<i class="fa fa-facebook"></i> 使用facebook登录
				</a>
				<a href="#" class="btn btn-block btn-social btn-google btn-flat">
					<i class="fa fa-google-plus"></i> 使用google+登录
				</a>
			</div>
			<!-- /.social-auth-links -->

			<a href="#">忘记密码？</a>
			<br>
			<a th:href="@{/register}" href="register.html" class="text-center">注册成为会员</a>

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- jQuery 2.2.0 -->
	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/assets/vendor/bootstrapvalidator/js/bootstrapValidator.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/vendor/bootstrapvalidator/js/language/zh_CN.js}"></script>
	<!-- iCheck -->
	<script src="//cdn.bootcss.com/iCheck/1.0.2/icheck.min.js"></script>

	<script type="text/javascript">
		$(function() {
			$('input').iCheck({
				checkboxClass : 'icheckbox_square-blue',
				radioClass : 'iradio_square-blue',
				increaseArea : '20%' // optional
			});
			$("form").bootstrapValidator({
				submitHandler : function(validator, form, submitButton) {
					$.post(form.attr("action"), form.serialize(), function(result) {
						console.log(result);
					}, "json");
				}
			});
		});
	</script>
</body>
</html>
