<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>注册-当凌MDM-移动设备管理专家</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/assets/vendor/bootstrapvalidator/css/bootstrapValidator.min.css}">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" th:href="@{/assets/css/AdminLTE.min.css}">
<link rel="stylesheet" href="//cdn.bootcss.com/iCheck/1.0.2/skins/square/blue.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			<a th:href="@{/}" href="../../index2.html">当凌MDM</a>
		</div>

		<div class="register-box-body">
			<p class="login-box-msg">注册会员</p>

			<form th:action="@{/register}" action="../../index.html" method="post">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" name="name" placeholder="姓名" data-bv-notempty="true" data-bv-notempty-message="请填写姓名"
						data-bv-stringlength="true" data-bv-stringlength-min="2" data-bv-stringlength-max="10" data-bv-stringlength-message="姓名必须是2-10个字符之间"
						data-bv-different="true" data-bv-different-field="password" data-bv-different-message="姓名不能和密码一样">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="text" class="form-control" name="mobile" placeholder="手机号" data-bv-notempty="true" data-bv-notempty-message="请填写手机号码"
						data-bv-regexp="true" data-bv-regexp-regexp="^[1]([3][0-9]{1}|59|58|88|89)[0-9]{8}$" data-bv-regexp-message="请填写正确的手机号码">
					<span class="fa fa-phone form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" name="password" placeholder="密码" data-bv-notempty="true" data-bv-notempty-message="请填写密码"
						data-bv-different="true" data-bv-different-field="name" data-bv-different-message="密码不能和姓名一样">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" name="repeatPassword" placeholder="重复输入密码" data-bv-identical="true"
						data-bv-identical-field="password" data-bv-identical-message="与密码不一致">
					<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label> <input type="checkbox" name="agree" checked> 同意 <a href="#">《用户协议》</a>
							</label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">注册</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

			<div class="social-auth-links text-center">
				<p>- 或者 -</p>
				<a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
					<i class="fa fa-facebook"></i> 使用facebook注册
				</a>
				<a href="#" class="btn btn-block btn-social btn-google btn-flat">
					<i class="fa fa-google-plus"></i> 使用google+注册
				</a>
			</div>

			<a th:href="@{/login}" href="login.html" class="text-center">我已经有账号，去登录</a>
		</div>
		<!-- /.form-box -->
	</div>
	<!-- /.register-box -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- jQuery 2.2.0 -->
	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/assets/vendor/bootstrapvalidator/js/bootstrapValidator.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/vendor/bootstrapvalidator/js/language/zh_CN.js}"></script>
	<!-- iCheck -->
	<script src="//cdn.bootcss.com/iCheck/1.0.2/icheck.min.js"></script>

	<script type="text/javascript">
		$(function() {
			$('input').iCheck({
				checkboxClass : "icheckbox_square-blue",
				radioClass : "iradio_square-blue"
			});
			$("form").bootstrapValidator({
				submitHandler : function(validator, form, submitButton) {
					$.post(form.attr("action"), form.serialize(), function(result) {
						console.log(result);
					}, "json");
				}
			});
		});
	</script>
</body>
</html>
