body {
	font-size: 12px;
}

header>.uk-navbar-container.uk-navbar {
	background: #1976d2 none repeat scroll 0 0;
	height: 48px;
}

header .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
	height: 48px;
	color: #fff;
}

#page_content_inner>.uk-breadcrumb {
	margin-bottom: 8px;
	float: right;
	line-height: 28px;
}

#page_content_inner>.uk-margin-small {
	margin-top: 0 !important;
}

.uk-nav-default {
	padding-bottom: 40px;
}

.tm-sidebar-left {
	border-right: 1px solid #e5e5e5;
	bottom: 0;
	box-sizing: border-box;
	overflow: auto;
	padding: 20px 20px 30px;
	position: fixed;
	top: 48px;
	width: 180px;
}

.uk-logo {
	width: 180px;
}

.uk-navbar .uk-logo:focus, .uk-navbar .uk-logo:hover {
	color: #fff;
}

.uk-navbar-toggle:hover, .uk-navbar-toggle:focus, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
	color: #fff;
}

@media ( min-width : 960px) {
	#page_content {
		margin-left: 180px;
	}
}

#page_content>#page_content_inner {
	padding-bottom: 100px;
}

#page_content_inner {
	padding: 16px;
}

#footer {
	background: #fff none repeat scroll 0 0;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	bottom: 0;
	left: 0;
	line-height: 32px;
	padding: 0 25px;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 999999;
}

.parsley-error {
	background: #fecccc;
}

.parsley-errors-list {
	margin: 0;
	color: red;
	float: left;
}

.select-cell {
	width: 20px;
	text-align: center;
}

.loading, .no-results {
	text-align: center;
}

.infos {
	text-align: right;
}

.markdown-toc-list {
	font-size: 0.875rem;
}

.markdown-toc-list, .markdown-toc-list ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.markdown-toc-list>li>a {
	color: #999;
}

.markdown-toc-list>li>a {
	padding: 5px 0;
}

.markdown-toc-list li>a {
	display: block;
	text-decoration: none;
}

.markdown-toc-list li>ul {
	padding: 5px 0 5px 15px;
}

.uk-card-title {
	font-size: 1rem;
}

.uk-text-meta {
	font-size: 0.5rem;
}

.uk-button {
	text-transform: none;
}

.uk-nav-default li.uk-active>a {
	color: #333;
}

.uk-offcanvas-bar>.uk-nav-default li.uk-active>a {
	color: #fff;
}

form+.uk-table {
	margin-top: 0;
}

.uk-margin-small+.uk-table {
	margin-top: 0;
}

.form-search>.uk-select {
	width: 200px;
	position: absolute;
}

.form-search>div {
	margin-left: 201px;
}

.form-search .uk-search-default {
	width: 100%;
}

.column-header-anchor, .column-header-anchor:hover {
	color: #666;
	text-decoration: none;
	cursor: default;
}

.column-header-anchor.sortable {
	cursor: pointer;
}

.user-nav {
	margin-right: 24px;
}

.uk-table th {
	white-space: nowrap;
}

.command-column {
	width: 56px;
}

.command-column>.uk-iconnav {
	width: 60px;
}

.command-column-md {
	width: 90px;
}

.command-column-md>.uk-iconnav {
	width: 94px;
}

.command-column-lg {
	width: 120px;
}

.command-column-lg>.uk-iconnav {
	width: 124px;
}

.datetime-column {
	width: 128px;
	white-space: nowrap;
}

.bootgrid-footer {
	padding: 4px 20px;
}

.column-header-anchor.sortable {
	display: block;
}

.uk-placeholder.uk-image {
	margin: 0;
	padding: 2px;
}

.screenshot {
	display: inline-block;
	margin: 0 10px 16px;
}

.uk-table-tiny td, .uk-table-tiny th {
	padding: 4px 8px;
}

.uk-accordion>li>.uk-accordion-title {
	font-size: 0.8rem;
}

.upload-file>.uk-placeholder>a {
	word-break: break-all;
}

i.required {
	color: red;
}

.line-limit-length {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}