/* IE lte9 fixes */

/* main sidebar */
#sidebar_main {
    -ms-transform: translateX(-240px);
}
@media only screen and (max-width: 767px) {
    #sidebar_main {
        -ms-transform: translateY(-280px);
    }
}

.sidebar_main_active #sidebar_main,
.sidebar_main_open #sidebar_main {
    -ms-transform: translateY(0);
}

/* secondary sidebar */
#sidebar_secondary {
    -ms-transform: translateX(288px);
}

.sidebar_secondary_active #sidebar_secondary {
    -ms-transform: translateX(0);
}