<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="page_title(title)" class="image-container col-md-3 col-sm-12">
		<div class="mask"></div>
		<div class="main-heading">
			<h1 th:text="${title}">XXX</h1>
		</div>
	</div>

	<th:block th:fragment="portfolio(cat, id, imageUrl, title, description, link)">
		<!-- Portfolio Image -->
		<div th:class="${'col-lg-4 col-md-6 col-sm-4 col-xs-12 mix '+cat}">
			<div class="project">
				<img th:src="@{${'/assets/images/portfolio/'+imageUrl}}" class="img-responsive">
				<div class="ovrly"></div>
				<div class="buttons">
					<a th:href="${link}" class="fa fa-link"></a> <a th:href="${'#'+id}" class="fa fa-search show-popup"></a>
				</div>
			</div>
		</div>

		<!-- Popup Content -->
		<div class="pop-up-box" th:id="${id}">
			<!-- <img alt="" src="https://d2zav2bjdlctd5.cloudfront.net/theme_preview/Boots4_HTML/assets/img/portfolio/image_3.jpg" class=" hidden-xs">
											 -->
			<div class="popup-content">
				<h3 th:text="${title}">XXX</h3>
				<p th:text="${description}">XXX XXXX XXX XXX</p>
				<a th:href="${link}">进入</a>
			</div>
		</div>
		<!-- Single Portfolio Item [ END ] -->
	</th:block>

	<div th:fragment="footer" class="footer clearfix">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<p class="copyright">&copy; 2016 当凌科技</p>
					</div>

					<div class="col-md-6 col-sm-12 col-xs-12">
						<p class="author">粤ICP备15086268号</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>