.treelist-with-nav.x-panel-body {
	background-color: #32404e;
}

.x-treelist-nav {
	background-color: #32404e;
	background-position: 24px 0;
	padding: 0;
}

.x-treelist-nav .x-treelist-toolstrip {
	background-color: #32404e;
}

.x-treelist-nav .x-treelist-item-icon::before, .x-treelist-nav .x-treelist-item-tool::before,
	.x-treelist-nav .x-treelist-item-expander {
	line-height: 36px;
}

.x-treelist-nav .x-treelist-item-expanded {
	background-color: #2c3845;
}

.x-treelist-nav .x-treelist-item-selected>.x-treelist-row::before {
	background-color: #5fa2dd;
}

.x-treelist-nav .x-treelist-row-over::before, .x-treelist-nav .x-treelist-item-selected>.x-treelist-row::before
	{
	content: " ";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 6px;
}

.x-treelist-nav .x-treelist-item-selected>.x-treelist-row {
	background-color: #3f505f;
}

.x-treelist-nav .x-treelist-row {
	padding-left: 10px;
	padding-right: 10px;
}

.x-treelist-nav .x-treelist-item-icon, .x-treelist-nav .x-treelist-item-tool
	{
	color: #adb3b8;
	font-size: 18px;
	width: 24px;
}

.x-treelist-nav .x-treelist-item-icon, .x-treelist-nav .x-treelist-item-tool,
	.x-treelist-nav .x-treelist-item-expander {
	background-position: 0 center;
	background-repeat: no-repeat;
	text-align: center;
}

.x-treelist-nav .x-treelist-item-text {
	color: #adb3b8;
	line-height: 36px;
	margin-left: 28px;
	margin-right: 24px;
}

.x-treelist-nav .x-treelist-item-expander {
	color: #adb3b8;
	font-size: 16px;
	width: 24px;
}

.x-treelist-nav .x-treelist-row {
	padding-left: 10px;
	padding-right: 10px;
}

.x-treelist-nav .x-treelist-row-over:before {
	background-color: #89bae6;
}

.x-treelist-nav .x-treelist-row-over {
	background-color: #4f606f;
}

.x-treelist-nav .x-treelist-item .x-treelist-item-expander {
	cursor: pointer;
	right: 0;
	left: auto;
}

.x-treelist-nav .x-treelist-item .x-treelist-item-icon {
	left: auto;
}

.x-treelist-nav .x-treelist-item-selected>.x-treelist-row::before {
	background-color: #5fa2dd;
}

.x-treelist-item-expandable>*>*>.x-treelist-item-expander,
	.x-treelist-item-icon {
	display: block;
}

.actionColumnIcon:hover {
	color: #5fa2dd;
}

table.input {
    width: 100%;
    word-break: break-all;
    border-collapse: collapse;
    border-spacing: 0;
}

table.input, table.input tbody, table.input tfoot, table.input thead, table.input tr, table.input th, table.input td {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

table.input th {
    background-color: #f8fbff;
    border-bottom: 1px solid #dde9f5;
    font-weight: normal;
    line-height: 25px;
    padding: 5px 10px 5px 0;
    text-align: right;
    white-space: nowrap;
    width: 150px;
}
table.input td {
    border-bottom: 1px solid #dde9f5;
    color: #666666;
    line-height: 25px;
    padding: 5px;
}

