<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<aside th:fragment="main" class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="搜索"> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn btn-flat">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="header">菜单</li>
				<li class="menu_dashboard">
					<a href="#/page/dashboard"><i class="fa fa-dashboard"></i> <span>首页</span></a>
				</li>
				<li th:class="${menuRoot.leaf}?'':'treeview'" th:classappend="'menu_'+${menuRoot.code}"
					th:each="menuRoot : ${menuRoots}">
					<a th:href="${menuRoot.href==null}?'javascript:;':('#/page'+${menuRoot.href})"> <i
						th:class="${menuRoot.iconCls}"></i> <span th:text="${menuRoot.name}">Dashboard</span> <span
						class="pull-right-container" th:if="${!menuRoot.leaf}"> <i class="fa fa-angle-left pull-right"></i>
					</span>
					</a>
					<ul class="treeview-menu" th:if="${!menuRoot.leaf}">
						<li th:classappend="'menu_'+${child.code}" th:data-parent-code="${menuRoot.code}"
							th:each="child : ${menuRoot.children}">
							<a th:href="'#/page'+${child.href}" th:inline="text"><i th:class="${child.iconCls}"></i> [[${child.name}]]</a>
						</li>
					</ul>
				</li>
				<li class="header">标签</li>
				<li>
					<a href="#"><i class="fa fa-bookmark text-red"></i> <span>书签</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-heart text-yellow"></i> <span>收藏</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-map-signs text-aqua"></i> <span>站点图</span></a>
				</li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

</body>
</html>